@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@700&family=Quicksand:wght@400;500;600;700&display=swap');

*{ 
    margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
   
}
header{
    position: relative;
    height: 100vh;
    background: url(cover.webp) center center/cover no-repeat;
}
ul{
    list-style: none;
}
a
{
    text-decoration: none;
}
.container{
   
    max-width: 1300px;
    margin: auto;
    
   

    
}
.primary-text{
    color: rgb(247, 247, 105);
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
.btn-primary{
    color: #ffffff;
    border: #ffffff 1px solid;
    margin-top: 20px;
    

}
.btn-primary-top{
    color: #ffffff;
    border: #ffffff 1px solid;
    color: #ffffff;
    border: #ffffff 1px solid;
    margin:10px;
    margin-right: 20px;
    padding: 1px 10px 1px 10px;
}

.btn-primary-top:hover,.btn-primary:hover{
    border: yellow 1px solid;
    color: yellow;
}


#navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(250, 235, 215,0.6) ;
    
}
#navbar img{
    width: 50px;
    margin-left: 100px;
    

}
#navbar ul{
display: flex;
margin: 15px;
margin-right: 100px;



}
#navbar ul li a{
    align-items: center;
    margin: 15px 20px;
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 8px;
}
#navbar ul li a:hover{
    border-bottom: solid rgb(248, 201, 112);
}
header .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     height: 90vh;
}
header .content h1{
    font-size: 40px;
    margin-bottom: 40px;
    color: #ffffff;
}
header .content p{
    color: #ffffff;
    margin-bottom: 30px;
}
header::before{
   content: ""; 
   position: absolute;
   top:0 ;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgb(0,0,0,0.6);
}
header *{
    z-index:10;
}
/*about start*/
#about{
    height: 95vh;
    display: flex;
   
    

}
#about .title,
#offers .title{
    text-align:center ;
      padding: 20px;

    height: 20VH;
}
#about h2,
#offers .title h2{
   
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
#about .title p
#offers .title p
{
    font-size: larger;
    color: rgb(102, 101, 99);
    font-weight: 600;
}
#about .about-content{
    display: flex;
    justify-content: space-between;
}
#about .about-content img{
    width: 300px;
}
#about .about-content p{
    color: rgb(102, 101, 99);
    margin-right: 30px;
    margin-left: 20px;
    font-weight: 500;
    line-height: 1.6;
    word-spacing: 5px;
   
}
.btn-secondary{
    color: #ffffff;
    background-color: #383848;
    margin-left: 60px;
}
.btn-secondary:hover{
    border: yellow 1px solid;
    color: yellow;
   
}


/*about end*/
/*offers start*/
#offers{
    display: flex;
    position: relative;
    justify-content: center;
    background: url(offer-background.webp) center center/cover fixed;
    height:80vh;
}
#offers .title{
    color: rgb(250, 250, 127);
    padding: 30px;
}
.offers-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.offers-items img{
    width: 300px;    
}
#fo3to{
    width: 245px;
}
.offers-items h3{
   font-size: 20px;
   padding: 20px;
}
.offers-items p{
   padding: 0 20px;
   line-height: 20px;
   margin-bottom: 10PX;

}
#offers::before{
    content: ""; 
    position: absolute;
    top:0 ;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
 }
 #offers *{
     z-index:10;
 }
 #offers span{
    font-size: 20px;
    padding: 10px;
   
 }

/*offers end*/
/*tablet*/
@media(max-width:1100px){
    #navbar img{
       
        margin-left: 40px;
    }
    #navbar ul{
        margin: 2px;
        align-items: center;
        margin-top: 10px;
    }
    #navbar{
     justify-content: none;   
    }
    #navbar ul li a{
        margin: 10px 15px;
    }
    
    header .content h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    header .content p{
        margin-bottom: 20px;
        font-size: 12px;
    }
    .btn{
        padding: 10px 20px;
    }
    .btn-primary-top{
        padding: 1px 5px 1px 5px;
        font-size: 10px;
    }
    #about{
        height: auto;
        padding: 20px;
    }
    #about .title{
        height: 12VH;
    }
    #about h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    #about .title p{
        font-size: large;
    }
    #about .about-content img{
        width: 150px;
        height: 150px;
    }
    #about .about-content p{
        margin-right: 15px;
        line-height: 1;
    }
    .offers-items img{
        width: 200px;    
    }#fo3to{
        width: 145px;
    }
    .offers-items h3{
        font-size: 16px;
        padding: 15px;
     }
    .offers-items p{
        line-height: 12px;
        padding: 0 12px;
        font-size: 12px;
    }
    /*mobail/redmi 9*/
    @media  (min-height: 2300px) {
        #navbar{
        flex-direction: column;
        height: 10%;
        }
        header .content h1{
            text-align: center;
            font-size: 100px;
        }
        header .content p{
            font-size: 50px;
            text-align: center;
            padding: 20PX;
            margin-bottom: 100px;
        }
        #navbar img{
            margin: 20px auto;
            width: 150PX;
        }
        #navbar ul{
            margin: auto;
            justify-content: center;
            
            
        }
        #navbar ul li a{
            margin: 15px 15px 50px 15px;
            font-size: 40PX;
            padding: 22PX;

        }
        .btn-primary-top{
            display: none;
        }
        .btn-primary{
            padding: 30px 50px ;
            font-size: 50px;
            border: 3px solid;
        }
        header .content{
            height: 70vh;
        }
        #about{
            height: auto;
            padding: 50px;
        }
        #about .title{
            height: 8vh;
            
           
        }
        #about h2{
            font-size: 60px;
        }
        #about .title p{
            font-size: 40px;
        }
        #about .about-content p{
            margin: 20px 60px;
            line-height: 2;
        }
        #about .about-content img{
            
            width: 400px;
            height: 400px;
        }
        #offers{
            height: auto;
        }
        #offers .title h2{
            padding: 30px;
            font-size: 80px;
        }
        #offers .title p{
            padding: 20px;
            font-size: 50px;
        } 
        .offers-items{
flex-direction: column;
        }
        .offers-items img{
            width: 400px;    
        }
        #fo3to{
            width: 345px;
        }
        .offers-items h3{
            font-size: 50px;
            padding: 20px;
         }
         .offers-items p{
            padding: 0 30px;
            line-height: 25px;
            margin: 30px 120px;
            font-size: 25px;
         
         }
         #offers span{
            font-size: 50px;
            padding: 20px;
           
           
         }
        }
}
/*mobil*/
@media(max-width:600px){
    #navbar{
        flex-direction: column;
    }

        #navbar{ 
            padding: 10px;
        }
        #navbar img{
        margin:auto;
        justify-content: center;
        padding-bottom: 10px;
        }
        #navbar ul{
            margin: auto;
            justify-content: center;
        }
        #navbar ul li a{
            margin: 8px 8px;
        }
        header .content h1{
            font-size: 20px;
            margin-bottom: 15px;
            text-align: center;
        }
        .btn-primary-top{
                display:none;
            }
            header .content p{
                font-size: 20px;
                text-align: center;
                margin: 20px ;
            }
            #about .about-content{
                flex-direction: column;
            }
            #about .title p{
                margin-bottom: 20px;
            }
            .btn-secondary{
                display: inline;
            }
            #about .about-content img{
               display: none;
            }
        .offers-items{
            flex-direction: column;
        }
        #about .title{
            height: auto;
        }
        #about{height: auto;}
        #about .about-content p{
            margin-bottom: 20px;
        }
        .btn-secondary{
          
            margin: auto;
           justify-content: center;
           margin-bottom: 100px; 
        }
        #offers{
            height: auto;
        }
        .offers-items h3{
            font-size: 15px;
            
        }
    #offers .title h2{
        font-size: 25px;
        margin-top: 30px;
    }
    #offers span{
        margin-bottom: 100px;
    }
    .offers-items p{
        font-size: medium;
        text-align: center;
        margin: 20px 30px;
    }
 
 
}